/* login.component.css */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px 12px;
  background-color: rgb(214, 212, 212);

    max-width: 300px;
    margin: auto;
    padding: 100px;}
    
  
 .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  padding: 8px 12px;

 }
input{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
  width: 200px;
  margin-bottom: 10px}

  .rounded-button {
    border: none;
    width: auto;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
  }