<!-- navbar.component.html -->

<nav class="navbar" *ngIf="isLoggedIn()">
    <div class="container">
      <div class="navbar-brand">
        <img  class="navbar-logo"  src="assets/porte.png" alt="Logo">

        <div class="navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" routerLink="home">Home</a>
          <a class="navbar-item" routerLink="rooms">Available room</a>
          <a class="navbar-item" routerLink="makereservation">Make a reservation</a>
          <a class="navbar-item" routerLink="reservation">Youre reservations</a>
          <a class="navbar-item" routerLink="calendar" >Calendar</a>

          <a class="logout" (click)="logout()">Logout</a>


          <!-- Add more menu items as needed -->
        </div>
      </div>
    </div>
  </nav>
  