<!-- room-list.component.html -->

<div class="room-list-container" *ngIf="isLoggedIn()">

    <!-- Room list header -->
    <h2 class="room-list-header">Available Rooms </h2>
  
    <!-- Room list -->
    
       
    <mat-list *ngFor="let room of rooms">
      <mat-list-item >
        <mat-icon matListItemIcon>book</mat-icon>
        <div matListItemTitle > Room id  : {{room._id}} </div>
        <div >Room number: {{ room.roomNumber }}</div>
        <div>Room name  {{ room.roomName  }}</div>


        <div>Room description : {{ room.roomDesc  }}</div>

      </mat-list-item>
    </mat-list>
  
  </div>
  