

<div *ngIf="!isLoggedIn()"  >
  <div  *ngIf="!hidelogin" class="container">
    <h2>Login</h2>

<form (submit)="login()" class="item">
  <input [(ngModel)]="username" name="username" type="text" placeholder="Username" required />
  <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required  />
  <button class="rounded-button" mat-flat-button type="submit" >Login</button>
</form>
<p >Don't have an account? <button class="rounded-button" mat-flat-button (click)="hideloginform()">Register here</button></p>

</div>

<div  *ngIf="hidelogin" class="item">
  <app-registration></app-registration>
  <p>Already had one ?  <button class="rounded-button" mat-flat-button	(click)="hideloginform()">Login here</button></p>

  </div>
  </div>
