<!-- room-list.component.html -->

<!-- Room list container -->
<div class="room-list-container" *ngIf="isLoggedIn()">

    <!-- Room list header -->
    <h2 class="room-list-header" mat-subheader>Reservation List</h2>
  
    <!-- Room list -->
   
    <mat-list *ngFor="let reservation of reservations">
      <mat-list-item >
        <mat-icon matListItemIcon>book</mat-icon>
        <div matListItemTitle > Reservation id  : {{reservation._id}} </div>
        <div >Duration: {{ reservation.duration }}</div>
        <div>Start At: {{ reservation.started |date }}</div>

        <div>Ended At : {{ reservation.ended | date }}</div>

      </mat-list-item>
    </mat-list>
         
  </div>